<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Avrdude.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
		<!-- ################# -->
        <add key="boards" value="D:\Documents and Settings\senshu\デスクトップ\FUSE.csv" />
        <add key="boards1" value="C:\Programs\arduino-1.5\hardware\arduino\avr\boards.txt" />
        <add key="boards2" value="C:\Programs\arduino-1.0.1\hardware\arduino\boards.txt" />
		<!-- ################# -->
    </appSettings>
    <userSettings>
    <Avrdude.Properties.Settings>
	      <setting name="Avrdude" serializeAs="String">
	        <value />
	      </setting>
	      <setting name="Programmer" serializeAs="String">
	        <value />
	      </setting>
	      <setting name="Port" serializeAs="String">
	        <value />
	      </setting>
	      <setting name="Device" serializeAs="String">
	        <value />
	      </setting>
	      <setting name="CommandLineOption" serializeAs="String">
	        <value />
	      </setting>
	      <setting name="FlashFile" serializeAs="String">
	        <value />
	      </setting>
	      <setting name="EEPROMFile" serializeAs="String">
	        <value />
	      </setting>
	      <setting name="Top" serializeAs="String">
	        <value>100</value>
	      </setting>
	      <setting name="Left" serializeAs="String">
	        <value>100</value>
	      </setting>
	      <setting name="DisplayWindow" serializeAs="String">
	        <value>False</value>
	      </setting>
	      <setting name="Mode" serializeAs="String">
	        <value>False</value>
	      </setting>
	      <setting name="terminal_tool" serializeAs="String">
	        <value>C:\Program Files\teraterm\ttermpro.exe</value>
	      </setting>
	      <setting name="terminal_options" serializeAs="String">
	        <value>/baud=57600 /w=[avrdude-GUI]</value>
	      </setting>
	      <setting name="Width" serializeAs="String">
	        <value>0</value>
	      </setting>
	      <setting name="Height" serializeAs="String">
	        <value>0</value>
	      </setting>
	    </Avrdude.Properties.Settings>
    </userSettings>
<startup>
 <supportedRuntime version="v2.0.50727"/>
 <supportedRuntime version="v4.0" />
</startup>
</configuration>
